@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';
@font-face {
  font-family: font1;
  src: url(/Fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(/Fonts/Lausanne-500.woff2);
}
@font-face {
  font-family: font3;
  src: url(/Fonts/Gilroy-Extrabold_YC6oQDa3Ix.ttf);
}
@font-face {
  font-family: font4;
  src: url(/Fonts/Gilroy-Light.woff2);
}
@font-face {
  font-family: font5;
  src: url(/Fonts/Gilroy-Medium_eHDK2RllDd.ttf);
}
:root {
font-family: poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
background-color: #0c0c0c;
scroll-behavior: smooth;

}
  .dot-grid-svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 20 20'%3E%3Ccircle cx='2' cy='2' r='1.5' fill='rgba(255,255,255,0.12)'/%3E%3C/svg%3E");
      background-repeat: repeat;
      background-size: 5px 5px; /* change to control gap */
    }

